.form {
    margin: 50px 40px;
}

.quebra {
    display: block;
}

.input-padrao {
    margin: 0 0 20px;
    padding: 5px 25px;
    width: 30%;
}

.letreiro {
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 250px;
    font-size: 48px;
}

.letreiro2 {
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 200px;
    font-size: 48px;
}

.l1 {
    margin-right: 50px;
}

.l2 {
    margin-right: 175px;
}

.l3-ajuste {
    display: inline-block;
}

.l3 {
    margin-right: 90px;
}

.l4 {
    margin-right: 43px;
}

.l5 {
    margin-right: 53px;
}

.l7 {
    margin-right: 17px;
}

.l8 {
    margin-right: 105px;
}

.l9 {
    margin-right: 74px;
}

.ajuste-linha {
    display: inline-block;
}

.letreiro3 {
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 200px;
    font-size: 48px;
}

.l10 {
    margin-right: 74px;
}

.l11 {
    margin-right: 90px;
}

.enviar {
    min-width: 180px;
    width: 20%;
    padding: 15px 0;
    background: #eb7b3c;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 15px;
    transition: 1s all;
    cursor: pointer;
    display: block;
    margin: 40px 0;
}

.enviar:hover {
    background: darkorange;
    transform: scale(1.1);
}