.form {
    display: grid;
    grid-row-gap: 10px;
    padding: 1%;
}

.quebra {
    display: block;
}

.input-padrao {
    padding: 5px 25px;
}
.letreiro {
    font-size: 48px;
}
.ajuste-linha {
    display: inline-block;
}
.button-padrao {
    min-width: 180px;
    width: 20%;
    padding: 15px 0;
    background: var(--orange,orange);
    color: white;
    border: none;
    border-radius: 10px;
    margin: 3rem auto 0 ;
    transition: .3s;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}

.button-padrao:hover {
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
}

form label{
    display: block;
}

.dados{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.dados-responsavel{
    grid-template-columns:1fr 1fr 1fr;
}
.dados-cadastrais{
    grid-template-columns: 1fr 1fr 1fr;
}
/* .dados input{
    width: 70%;
} */
.tam1{
    width: 80%;
}
.tam2{
    width: 50%;
}
.tam3{
    width: 30%;
}
.dados select{
    text-align: center;
    height: 2.375rem;
}
.input-nome-aluno{
    grid-column-start: 1;
    grid-column-end: 3;
}
.input-numero-pessoas{
    max-width: 260px;
}
.input-nome-responsavel{
    grid-column-start: 1;
    grid-column-end: 3;
}
.input-telefone-responsavel{
    grid-row-start: 2;
}


